
body {
	background-image: url("../images/congruent_pentagon.png");
	color: #777777;
	width: 960px;
}

nav {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #cccccc;
	padding:15px;
	float:right;
}

.container {
	background-color: #ffffff;

}

.main{
	width: 650px;
	background-color: #ffffff;
	padding: 15px;
}

.picture {
	float:left;
	margin-right:10px;
}

h1 {
	padding: 15px;
	background-color: #4aaaa5;
	font-size: 22px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: white;
	width: 215px;
}

p {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
}

h2 {
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;	
}

.sidebar{
	height: 120px;
	text-align: center;
	float:right;
	background-color: white;
	width: 270px;
	}

h3 {
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.maincontact{
	width: 650px;
	padding: 15px;
	background-color: white;
}

.portfolio{
	margin-bottom: 100px;
	width: 650px;
	background-color: white;
	padding: 15px;	
}

#Hangman{
	background-color: #4aaaa5;
	padding: 10px;
	width: 230px;
	color: #ffffff;
}

#RPG{
	background-color: #4aaaa5;
	padding: 10px;
	width: 230px;
	color: #ffffff;	
}

#Trivia{
	background-color: #4aaaa5;
	padding: 10px;
	width: 230px;
	color: #ffffff;
}

#Rutgers{
	background-color: #4aaaa5;
	padding: 10px;
	width: 230px;
	color: #ffffff;
}

footer {
	margin:0;
	position: fixed;
	left: 0;
	bottom:0;
	width: 960px;
	height: 90px;
	text-align: center;
	background-color: #666666;
	color: #ebebeb;

}